<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying accessrecords of the selected topic</h1>
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Author</th>

        </tr>
        <tr>
        {% for wo in MWO %}
        <tr>
            <td>{{wo.Name}}</td>
            <td>{{wo.Date}}</td>
            <td>{{wo.Author}}</td>
        </tr>
        {% endfor %}
        </tr>




    </table>
</body>
</html>